<div class="login-page">
  <div class="login-container">
    <h2>Login to Your Account</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group">
        <label for="username">Username</label>
        <input 
          type="text" 
          id="username" 
          class="form-input" 
          formControlName="username"
          autocomplete="off">
        <small *ngIf="submitted && f['username'].errors?.['required']" class="error-text">
          Username is required
        </small>
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <div class="password-field">
          <input 
            type="password" 
            id="password" 
            class="form-input" 
            formControlName="password"
            autocomplete="new-password">
        </div>
        <small *ngIf="submitted && f['password'].errors?.['required']" class="error-text">
          Password is required
        </small>
      </div>
      
      <div class="remember-forgot">
        <div class="remember-me">
          <input type="checkbox" id="rememberMe" formControlName="rememberMe">
          <label for="rememberMe">Remember me</label>
        </div>
        <a href="#" class="forgot-password">Forgot Password?</a>
      </div>
      
      <button type="submit" class="submit-button" [disabled]="loading">
        <span *ngIf="loading">Loading...</span>
        <span *ngIf="!loading">Login</span>
      </button>
      
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      
      <div class="signup-link">
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
      </div>
    </form>
  </div>
</div>