<!-- user-signup.component.html -->
<div class="signup-page">
  <div class="signup-container">
    <h2>Create an Account</h2>
    
    <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" class="form-input" formControlName="username" autocomplete="off">
        <div *ngIf="submitted && f['username'].errors" class="error-message">
          <span *ngIf="f['username'].errors['required']">Username is required</span>
        </div>
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <div class="password-field">
          <input type="password" id="password" class="form-input" formControlName="password" autocomplete="new-password">
          <div *ngIf="submitted && f['password'].errors" class="error-message">
            <span *ngIf="f['password'].errors['required']">Password is required</span>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <div class="password-field">
          <input type="password" id="confirmPassword" class="form-input" formControlName="confirmPassword" autocomplete="new-password">
          <div *ngIf="submitted && f['confirmPassword'].errors" class="error-message">
            <span *ngIf="f['confirmPassword'].errors['required']">Please confirm your password</span>
          </div>
          <div *ngIf="submitted && signupForm.hasError('passwordMismatch') && !f['confirmPassword'].errors" class="error-message">
            Passwords do not match
          </div>
        </div>
      </div>
      
      <p class="terms-text">I agree to the <a href="#">Terms and Conditions</a></p>
      
      <button type="submit" class="submit-button" [disabled]="loading">
        <span *ngIf="loading">Loading...</span>
        <span *ngIf="!loading">Sign Up</span>
      </button>
      
      <div *ngIf="errorMessage" class="error-alert">
        {{ errorMessage }}
      </div>
      
      <div class="signup-link">
        <p>Already have an account? <a href="/login">Login</a></p>
      </div>
    </form>
  </div>
</div>